.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
.Row {
  background-color: rgba(56, 190, 231, 0.3);
  border: 0px;
  border-radius: 10px;
  text-align: center;
  margin: 0 10px 0 10px;
}
.Day {
  display: block;
  padding-top: 10px;
}
.Phrase {
  display: block;
  padding-bottom: 10px;
}

.Row > img {
  height: 50%;
  width: 50%;
}
.Temp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 30px;
}
.Min {
  color: rgba(0, 0, 0, 0.7);
}
