.App {
  margin: 0;
  padding: 0;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #484e58;
}
.Box > Btn {
  display: flex;
  flex-direction: row;
}
